<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="about-tab">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>{{ 'tabs.about' | transloco }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="browse-tab">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>{{ 'tabs.browse' | transloco }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="language-tab">
      <ion-icon name="language-outline"></ion-icon>
      <ion-label>{{ 'tabs.language' | transloco }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
