<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="primary">
      <ion-button id="open-add-modal-button">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{ 'browse.title' | transloco }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'browse.title' | transloco }}</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-browse-list
    [items]="list"
    (removeItemEvent)="onRemoveItem($event)"
  ></app-browse-list>
  <ion-modal
    trigger="open-add-modal-button"
    (didDismiss)="onAddItemModalDismiss($event)"
  >
    <ng-template>
      <app-browse-add-item-modal></app-browse-add-item-modal>
    </ng-template>
  </ion-modal>
</ion-content>
